<% include('../layout/header.ejs') %>

<h1> Thank You </h1>


<%

    if(typeof message !== 'undefined'){

        %>
            <p style="color: green;"><%= message %></p>
        <%

    }

%>

<% include('../layout/footer.ejs') %>